.git/**/
.gitlab-ci.yml
.dockerignore
dist
Dockerfile
docker-compose.yml
**/.ipynb_checkpoints
**/.pytest_cache
**/.ruff_cache
src/ais_transformer/training_data/**
**/__pycache__
**/*.ipynb
**/__pycache__
tests/test_outputs/
data/**
**wandb/**
src/distance_to_coast_arrays/**
src/out_dir/**
**/nohup.out
